@using BlankBlog.Models
@model DetailBlogViewModel
@{
    string domainName = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}

@section scripts{
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <script type="text/javascript"
            async defer
            src="//assets.pinterest.com/js/pinit.js"></script>
}

<div>
    <!-- PAGE HEADER -->
    <div id="post-header" class="page-header">
        <div class="page-header-bg" style="background-image: url(@Url.Content("~/Content/" + Model.Post.IMAGE_COVER)); background-position: 0% 0%;" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="post-category">
                        <a href="@domainName/trang-chu/danh-sach-bai-viet?category=@Model.Post.MAIN_TAG">@Model.Post.MAIN_TAG</a>
                    </div>
                    <h1>@Model.Post.TITLE @ViewBag.NB</h1>
                    <ul class="post-meta">
                        <li><a href="@Url.Action("AuthorPage",new {name=Model.Author.USERNAME })">@Model.Author.DISPLAY_NAME</a></li>
                        <li>@Model.Post.CREATED_DATE.GetValueOrDefault().ToString("dd MMM yyyy")</li>
                        @*<li><i class="fa fa-comments"></i> 3</li>*@
                        <li><i class="fa fa-eye"></i> @Model.Post.VIEW_COUNT</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /PAGE HEADER -->
</div>

<!-- section -->

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <!-- post share -->
                <div class="section-row">
                    <div class="post-share">
                        @*<a href="#" class="social-facebook"><i class="fa fa-facebook"></i><span>Share</span></a>*@

                        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>

                        @*<a href="#" class="social-twitter"><i class="fa fa-twitter"></i><span>Tweet</span></a>*@

                        <a href="https://twitter.com/intent/tweet?button_hashtag=localhost&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


                        @*<a href="#" class="social-pinterest"><i class="fa fa-pinterest"></i><span>Pin</span></a>*@

                        <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark">
                        </a>

                        @*<a href="#"><i class="fa fa-envelope"></i><span>Email</span></a>*@
                    </div>
                </div>
                <!-- /post share -->
                <!-- post content -->
                <div class="section-row">
                    @Html.Raw(Model.Post.CONTENT)
                </div>
                <!-- /post content -->
                <!-- post tags -->
                <div class="section-row">
                    <div class="post-tags">
                        <ul>
                            <li>TAGS:</li>
                            @if (Model.Tags != null && Model.Tags.Count > 0)
                            {
                                foreach (TAG tag in Model.Tags)
                                {
                                    <li><a href="#">@tag.NAME</a></li>
                                }
                            }

                        </ul>
                    </div>
                </div>
                <!-- /post tags -->
                <!-- post nav -->
                <div class="section-row">
                    <div class="post-nav">
                        <div class="prev-post">
                            <a class="post-img" href="@domainName/@Model.PrevPost.SLUG"><img src="~/Content/@Model.PrevPost.IMAGE_COVER" alt=""></a>
                            <h3 class="post-title"><a href="@domainName/@Model.PrevPost.SLUG">@Model.PrevPost.TITLE</a></h3>
                            <span>Bài viết trước</span>
                        </div>

                        <div class="next-post">
                            <a class="post-img" href="@domainName/@Model.NextPost.SLUG"><img src="~/Content/@Model.NextPost.IMAGE_COVER" alt=""></a>
                            <h3 class="post-title"><a href="@domainName/@Model.NextPost.SLUG">@Model.NextPost.TITLE</a></h3>
                            <span>Bài viết kế tiếp</span>
                        </div>
                    </div>
                </div>
                <!-- /post nav  -->
                <!-- post author -->
                <div class="section-row">
                    <div class="section-title">
                        <h3 class="title">About <a href="@Url.Action("AuthorPage",new {name=Model.Author.USERNAME })">@Model.Author.DISPLAY_NAME</a></h3>
                    </div>
                    <div class="author media">
                        <div class="media-left">
                            <a href="@Url.Action("AuthorPage",new {name=Model.Author.USERNAME })">
                                <img class="author-img media-object" src="~/Content/@Model.Author.IMAGE_PROFILE" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <p>@Model.Author.ABOUT</p>
                            <ul class="author-social">
                                <li><a href="@Model.Author.FACEBOOK_PROFILE"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="@Model.Author.TWITTER_PROFILE"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="@Model.Author.GPLUS_PROFILE"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="@Model.Author.INSTAGRAM_PROFILE"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /post author -->
                <!-- /related post -->
                <div>
                    <div class="section-title">
                        <h3 class="title">Bài viết liên quan</h3>
                    </div>
                    <div class="row">
                        @if (Model.RelatedPosts != null)
                        {
                            foreach (PostViewModel item in Model.RelatedPosts)
                            {
                                <!-- post -->
                                <div class="col-md-4">
                                    <div class="post post-sm">
                                        <a class="post-img" href="@domainName/@item.SLUG"><img src="~/Content/@item.IMAGE_COVER" alt=""></a>
                                        <div class="post-body">
                                            <div class="post-category">
                                                <a href="@domainName/trang-chu/danh-sach-bai-viet?category=@item.MAIN_TAG">@item.MAIN_TAG</a>
                                            </div>
                                            <h3 class="post-title title-sm"><a href="@domainName/@item.SLUG">@item.TITLE</a></h3>
                                            <ul class="post-meta">
                                                <li><a href="#">@item.CREATED_USER</a></li>
                                                <li>@item.CREATED_DATE.GetValueOrDefault().ToString("dd MMM yyyy")</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /post -->
                            }
                        }
                    </div>
                </div>
                <!-- /related post -->
                <!-- post comments -->
                <div class="section-row">
                    <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="15"></div>
                </div>
                <!-- /post comments -->

            </div>
            <div class="col-md-4">
                @{Html.RenderAction("RightColumn");}
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->