@using BlankBlog.Models
@model DetailBlogViewModel
@{
    string domainName = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}

<div>
    <!-- PAGE HEADER -->
    <div id="post-header" class="page-header">
        <div class="page-header-bg" style="background-image: url(@Url.Content("~/Content/" + Model.Post.IMAGE_COVER)); background-position: 0% 0%;" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="post-category">
                        <a href="category.html">@Model.Post.MAIN_TAG</a>
                    </div>
                    <h1>@Model.Post.TITLE @ViewBag.NB</h1>
                    <ul class="post-meta">
                        <li><a href="author.html">@Model.Author.DISPLAY_NAME</a></li>
                        <li>@Model.Post.CREATED_DATE.GetValueOrDefault().ToString("dd MMM yyyy")</li>
                        @*<li><i class="fa fa-comments"></i> 3</li>*@
                        <li><i class="fa fa-eye"></i> @Model.Post.VIEW_COUNT</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /PAGE HEADER -->
</div>

<!-- section -->

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <!-- post share -->
                <div class="section-row">
                    <div class="post-share">
                        <a href="#" class="social-facebook"><i class="fa fa-facebook"></i><span>Share</span></a>
                        <a href="#" class="social-twitter"><i class="fa fa-twitter"></i><span>Tweet</span></a>
                        <a href="#" class="social-pinterest"><i class="fa fa-pinterest"></i><span>Pin</span></a>
                        <a href="#"><i class="fa fa-envelope"></i><span>Email</span></a>
                    </div>
                </div>
                <!-- /post share -->
                <!-- post content -->
                <div class="section-row">
                    @Html.Raw(Model.Post.CONTENT)
                </div>
                <!-- /post content -->
                <!-- post tags -->
                <div class="section-row">
                    <div class="post-tags">
                        <ul>
                            <li>TAGS:</li>
                            @if (Model.Tags != null && Model.Tags.Count > 0)
                            {
                                foreach (TAG tag in Model.Tags)
                                {
                                    <li><a href="#">@tag.NAME</a></li>
                                }
                            }

                        </ul>
                    </div>
                </div>
                <!-- /post tags -->
                <!-- post nav -->
                <div class="section-row">
                    <div class="post-nav">
                        <div class="prev-post">
                            <a class="post-img" href="@domainName/@Model.PrevPost.SLUG"><img src="~/Content/@Model.PrevPost.IMAGE_COVER" alt=""></a>
                            <h3 class="post-title"><a href="@domainName/@Model.PrevPost.SLUG">@Model.PrevPost.TITLE</a></h3>
                            <span>Bài viết trước</span>
                        </div>

                        <div class="next-post">
                            <a class="post-img" href="@domainName/@Model.NextPost.SLUG"><img src="~/Content/@Model.NextPost.IMAGE_COVER" alt=""></a>
                            <h3 class="post-title"><a href="@domainName/@Model.NextPost.SLUG">@Model.NextPost.TITLE</a></h3>
                            <span>Bài viết kế tiếp</span>
                        </div>
                    </div>
                </div>
                <!-- /post nav  -->
                <!-- post author -->
                <div class="section-row">
                    <div class="section-title">
                        <h3 class="title">About <a href="author.html">@Model.Author.DISPLAY_NAME</a></h3>
                    </div>
                    <div class="author media">
                        <div class="media-left">
                            <a href="author.html">
                                <img class="author-img media-object" src="@Model.Author.IMAGE_PROFILE" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <p>@Model.Author.ABOUT</p>
                            <ul class="author-social">
                                <li><a href="@Model.Author.FACEBOOK_PROFILE"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="@Model.Author.TWITTER_PROFILE"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="@Model.Author.GPLUS_PROFILE"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="@Model.Author.INSTAGRAM_PROFILE"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /post author -->
                <!-- /related post -->
                <div>
                    <div class="section-title">
                        <h3 class="title">Bài viết liên quan</h3>
                    </div>
                    <div class="row">
                        @if (Model.RelatedPosts != null)
                        {
                            foreach (PostViewModel item in Model.RelatedPosts)
                            {
                                <!-- post -->
                                <div class="col-md-4">
                                    <div class="post post-sm">
                                        <a class="post-img" href="@domainName/@item.SLUG"><img src="~/Content/@item.IMAGE_COVER" alt=""></a>
                                        <div class="post-body">
                                            <div class="post-category">
                                                <a href="category.html">@item.MAIN_TAG</a>
                                            </div>
                                            <h3 class="post-title title-sm"><a href="@domainName/@item.SLUG">@item.TITLE</a></h3>
                                            <ul class="post-meta">
                                                <li><a href="#">@item.CREATED_USER</a></li>
                                                <li>@item.CREATED_DATE.GetValueOrDefault().ToString("dd MMM yyyy")</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /post -->
                            }
                        }
                    </div>
                </div>
                <!-- /related post -->
                <!-- post comments -->
                <div class="section-row">
                    <div class="section-title">
                        <h3 class="title">3 Comments</h3>
                    </div>
                    <div class="post-comments">
                        <!-- comment -->
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="~/Content/Template/img/avatar-2.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <h4>John Doe</h4>
                                    <span class="time">5 min ago</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <a href="#" class="reply">Reply</a>
                                <!-- comment -->
                                <div class="media media-author">
                                    <div class="media-left">
                                        <img class="media-object" src="~/Content/Template/img/avatar-1.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <h4>John Doe</h4>
                                            <span class="time">5 min ago</span>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        <a href="#" class="reply">Reply</a>
                                    </div>
                                </div>
                                <!-- /comment -->
                            </div>
                        </div>
                        <!-- /comment -->
                        <!-- comment -->
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="~/Content/Template/img/avatar-3.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <h4>John Doe</h4>
                                    <span class="time">5 min ago</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <a href="#" class="reply">Reply</a>
                            </div>
                        </div>
                        <!-- /comment -->
                    </div>
                </div>
                <!-- /post comments -->
                <!-- post reply -->
                <div class="section-row">
                    <div class="section-title">
                        <h3 class="title">Leave a reply</h3>
                    </div>
                    <form class="post-reply">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="input" name="message" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input class="input" type="text" name="name" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input class="input" type="email" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input class="input" type="text" name="website" placeholder="Website">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="primary-button">Submit</button>
                            </div>

                        </div>
                    </form>
                </div>
                <!-- /post reply -->
            </div>
            <div class="col-md-4">
                @{Html.RenderAction("RightColumn");}
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->